<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>الدردشة</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/main.js"></script>
</head>
<body>
  <h1>غرفة الدردشة العامة</h1>
  <div id="messages"></div>
  <form id="msgForm" action="#" method="POST">
    <input id="msgInput" placeholder="اكتب رسالة..." autocomplete="off"/>
    <button>إرسال</button>
  </form>
  <p><a href="/rooms">قائمة الغرف</a></p>
</body>
</html>
