<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>قائمة الغرف</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>الغرف المتوفرة</h1>
  <ul>
    <li><a href="/chat">الغرفة العامة</a></li>
  </ul>
  <p><a href="/chat">عودة للدردشة</a></p>
</body>
</html>
